select {
	& > option {
		background-color: rgb(75 85 99 / 1);
	}
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgb(17 24 39 / 1);
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgb(239 68 68 / 1);
	}
}

.solid-select-control {
	@apply flex flex-wrap items-center gap-1 rounded-md border border-gray-900 relative
		bg-gray-900 px-2 py-1 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 py-2;
}

.solid-select-container {
	@apply relative;
}

.solid-select-container.dark-bg {
	.solid-select-control {
		@apply border-gray-800 bg-gray-800
	}
}

.solid-select-placeholder {
	@apply absolute left-2 text-gray-400 pointer-events-none;
}

.solid-select-input {
	@apply flex-1 min-w-[4ch] bg-transparent outline-none ring-0 focus:ring-0
}

.solid-select-multi-value {
	@apply flex items-center gap-1 rounded bg-indigo-100 text-indigo-700
		px-1 py-0.5 text-xs;

	& > span {
		@apply cursor-default pr-1 border-r-1;
	}
}

.solid-select-multi-value-remove {
	@apply cursor-pointer hover:text-indigo-900 mb-[0.125rem];
}

.solid-select-list {
	@apply absolute left-0 top-full z-50 mt-1 max-h-60 w-full overflow-y-auto rounded-md
		border border-gray-900 bg-gray-900 shadow-lg;
}

.solid-select-container.dark-bg {
	.solid-select-list {
		@apply border-gray-800 bg-gray-800
	}
}

.solid-select-option {
	@apply cursor-pointer select-none px-3 py-2 text-sm;

	&[data-active] {
		@apply text-indigo-700;
	}

	&:not([data-disabled="true"]) {
		@apply hover:text-white
	}

	&[data-disabled="true"] {
		@apply opacity-50 cursor-default;
	}
}